<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Closest Cities Finder</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;"> Zhen Zhen 5975 & Wang Yan </h1>
    <h1 style="text-align: center">Closest Cities Finder</h1>

    <label for="cityInput">City:</label>
    <input type="text" id="cityInput" placeholder="Enter city name">

    <label for="pageSizeInput">Page Size:</label>
    <input type="number" id="pageSizeInput" value="50">

    <label for="pageInput">Page:</label>
    <input type="number" id="pageInput" value="0">

    <button onclick="searchCities()">Search Cities</button>
    <button onclick="flushCache()">Flush Cache</button>

    <div id="results"></div>
    <div id="time"></div>

    <h1 style="text-align: center">KNN Reviews Analysis</h1>

    <label for="classesInput">Number of Classes:</label>
    <input type="number" id="classesInput" value="6">

    <label for="kInput">K Value:</label>
    <input type="number" id="kInput" value="3">

    <label for="wordsInput">Words Limit:</label>
    <input type="number" id="wordsInput" value="100">

    <button onclick="analyzeReviews()">Analyze Reviews</button>
    <button onclick="flushCache()">Flush Cache</button>

    <div id="results"></div>
    <div id="time"></div>
</body>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</html>
